<% if flights.any? %>
  <div class="center">
      <h2 class="white-text">Showing Flights from <%= @departure_airport %> to <%= @arrival_airport %></h2>
  </div>
  <div class="flight-form">
    <%= form_with model: flights, url: 'bookings/new', method: :get do |form| %>
      <% flights.each do |flight| %>
        <div class="flight-details">
          <%= form.hidden_field :passengers, value: @passengers %>
          <div class="radio-section">
            <%= form.radio_button :flight_id, flight.id %>
          </div>
          <div class="info-section">
            <p><%= flight.departure_airport.code %></p>
            <p><%= flight.duration %></p>
            <p><%= flight.arrival_airport.code %></p>
          </div>
        </div>
      <% end %>
      <div class="submit-section">
        <%= form.submit 'Continue' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="center">
    <h2 class="white-text">No Flights Found.</h2>
  </div>
<% end %>
