<h1>Flights Booker</h1>

<%= form_with model: @flight, url: flights_path, method: :get do |form| %>
  <div class="form-section">
    <%= form.label :departure_airport, 'Departure Airport:' %> <br>
    <%= form.select(:departure_airport_id, @options[0]) %>
  </div> <br>
  <div class="form-section">
    <%= form.label :arrival_airport, 'Arrival Airport:' %> <br>
    <%= form.select(:arrival_airport_id, @options[0]) %>
  </div> <br>
  <div class="form-section">
    <%= form.label :date, 'Date:' %> <br>
    <%= form.select(:date, @options[1]) %>
  </div> <br>
  <div class="form-section">
    <%= form.label :passengers, 'Passengers:' %> <br>
    <%= form.select(:passengers, @options[2]) %>
  </div> <br>
  <div class="form-section">
    <%= form.submit 'Search' %> <br>
  </div> <br>
<% end %>

<% if params[:flight] %>
  <% if @flights.any? %>
    <%= form_with model: @flights, url: 'bookings/new', method: :get do |form| %>
      <% @flights.each do |flight| %>
        <%= form.hidden_field :passengers, value: @passengers %>
        <%= form.radio_button :flight_id, flight.id %>
        <p><%= flight.departure_airport.code %> <%= flight.arrival_airport.code %> </p>
        <%= form.submit 'Continue' %>
      <% end %>
    <% end %>
  <% else %>
    <p>No flights found.</p>
  <% end %>
<% end %>
