<h1>Summary:</h1>

<ul>
  <li>Departing from <%= @flight.departure_airport.code %> </li>
  <li>Arriving at <%= @flight.arrival_airport.code %> </li>
  <li>Date: <%= @flight.date.strftime('%d/%m/%Y') %> </li>
</ul>

<h2>User Info</h2>

<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id  %>
  <%= form.fields_for :passengers do |passenger_form| %>
    <%= passenger_form.label :name %> <br>
    <%= passenger_form.text_field :name %> <br>

    <%= passenger_form.label :email %> <br>
    <%= passenger_form.email_field :email %> <br> <br>

  <% end %>
  <%= form.submit %>
<% end %>
