<div class="page-title center">
  <h1 class="white-text">Your Fligth:</h1>
  <h3 class="subtitle"><%= @flight.departure_airport.code %> | <%= @flight.arrival_airport.code %> | <%= @flight.format_date %></h2>
</div>

<div class="flight-form">
  <div class="center">
    <h2 class="white-text">Passenger Info</h2>
  </div>
  <%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id  %>
    <%= form.fields_for :passengers do |passenger_form| %>
    <div class="passengers-section">
    <div class="form-section passenger-count">
      <p class="white-text passenger-text">Passenger <%= passenger_form.index + 1 %> </p>
    </div>

      <div class="form-section passenger-info">
        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name %>
      </div>
      <div class="form-section passenger-info">
        <%= passenger_form.label :email %>
        <%= passenger_form.email_field :email %>
      </div>
    </div>
    <% end %>
    <div class="submit-section">
      <%= form.submit %>
    </div>
  <% end %>
</div>
